<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429065711825-ngnktvmg3pr41rngfaosnepm645h2mg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429065711825-ngnktvmg3pr41rngfaosnepm645h2mg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBO-4v3XKzkelhF2q_tuq-JXKz3CnSdI3E</string>
	<key>GCM_SENDER_ID</key>
	<string>429065711825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>uartist-d9ce4</string>
	<key>STORAGE_BUCKET</key>
	<string>uartist-d9ce4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429065711825:ios:9613e5a29df90a90f1d5f0</string>
	<key>DATABASE_URL</key>
	<string>https://uartist-d9ce4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>